* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1,7px;
    color: antiquewhite;

}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    background: rgb(27,37,49);
    background: linear-gradient(0deg, rgba(27,37,49,1) 0%, rgba(42,27,49,1) 100%); 
}
.wrapper-rideshare {
    background: rgb(0,35,37);
    background: linear-gradient(114deg, rgba(0,35,37,1) 0%, rgba(0,0,0,1) 27%); 
}
.navbar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 100px;
    padding-right: 100px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: antiquewhite;
}
.navbar-rideshare {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 100px;
    padding-right: 100px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: aqua
    
}
.Simon_Kamali {

    text-decoration: none;
    
}
.rightnav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    

}
h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 106px;
    color: antiquewhite;
    padding-top: 64px;
    padding-bottom: 32px;

}
.name {
    padding-left: 100px;
    padding-right: 100px;
}
.scroll-wrapper {
    padding-top: 0px;
    padding-bottom: 64px;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    color:antiquewhite;
}
.scrolltext {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 106px;
    color: antiquewhite;
 

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* overflow: hidden; */
    white-space: nowrap;
    /* -webkit-animation: moving 10s infinite; */
    animation: moving 60s linear infinite;
    transform: translateX(100%);
}
@keyframes moving {
    to {
        transform: translateX(-100%);
        
    }
}
.skills {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 106px;
    color: antiquewhite;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    border-left: 0px;border-right: 0px;
    border-radius: 0px;
    border-top: 0px;
    border-bottom: 1px;
    border-color: antiquewhite;
    border-style: solid;

    /* display: block;

    width: 100%;
    transform: translateX(100%);
  

    animation: move 30s linear infinite; */
    
}
/* @keyframes move {
    to { transform: translateX(-100%); }
  } */

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 46px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 20px;
    color: antiquewhite;
}
h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    color: antiquewhite;
}
p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1,7px;
    color: antiquewhite;
}
.text-box-left {
    align-self: center;
    width: 50%;

}
.text-box-right {
    align-self: center;
    width: 50%;

}

.UI img {
    width: 100%;
}
.Photography img {
    width: 100%;
}
.imgs-left {
width: 50%;
}

.imgs-right {
width: 50%;
}
.imgs-right img {
    width: 100%
}
.Illustrations img {
    width: 100%;
}
.container1 {
    display: flex;
    flex-direction: row;
    padding: 100px;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    color:antiquewhite;
    gap: 100px;
}
.container2 {
    display: flex;
    flex-direction: row;
    padding: 100px;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    color:antiquewhite;
    gap: 100px;
}
.container-rideshare {
    display: flex;
    flex-direction: row;
    padding: 100px;
    gap: 100px;
}
.case-button {
    --c1: #00eeff1e;
    --c2: #00aeff08;

    text-decoration: none;
    color: antiquewhite;
    border: 1px;
    border-style: solid;
    border-radius: 50px;
    display: inline-block;
    margin-top: 32px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /*background: linear-gradient(128deg, rgba(0,240,255,0.10550157563025209) 0%, rgba(0,194,255,0.0746892507002801) 23%, rgba(0,194,255,0.0214679621848739) 100%);*/
    background: linear-gradient(128deg, var(--c1), var(--c2) 51%, var(--c1)) var(--x, 0)/ 200%;
    transition: all 150ms ease-in;
}
.case-button:hover {
    --x: -100%;
    /*background: linear-gradient(300deg, rgba(0,240,255,0.10550157563025209) 0%, rgba(0,194,255,0.0746892507002801) 23%, rgba(0,194,255,0.0214679621848739) 100%);*/
    
}
.rideshare-textbox {
    width: 50%;
    padding: 32px;
    position: relative;
    border: 2px solid transparent;
    border: double 2px transparent;
    background-image: linear-gradient(140deg, #000a0b, black),
    linear-gradient(140deg, rgba(0,240,255,1) 0%, rgba(0,163,255,0.5522409647452731) 44%, rgba(0,163,255,0.09565833169205185) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 16px;
}
.header-rideshare {
    padding: 100px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-rideshare img {
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 100px;
    padding-left: 100px;


}

.contactPlusLink {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 32px;
    justify-content: center;

}
.contactMe {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 106px;
    color: antiquewhite;

}
.infoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;

}

.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 8px;
}


.copyright * {  
    font-size: 16px; 
    text-align: center;
}

@media screen and (max-width: 600px) {
    h1 {

        font-size: 36px;

        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .scroll-wrapper {
        padding-top: 0px;
        padding-bottom: 32px;
    }
    .scrolltext {
        font-size: 36px;
        animation: moving 20s linear infinite;
    }
    .skills {
        font-size: 36px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .navbar {
       
        font-size: 16px;
        
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .navbar-rideshare {
       
        font-size: 16px;
        
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
    h2 {

        font-size: 26px;

        padding-bottom: 16px;
  
    }
    .container1 {
        display: flex;
        flex-direction: column-reverse;
        padding: 16px;
        gap: 20px;
    }
    .container2 {
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 20px;
    }
    p {
        font-size: 16px;
    }
    .text-box-left {
        width: 100%;
    }
    .text-box-right {
        width: 100%;
    }
    .imgs-right {
        width: 100%;
    }
    .imgs-left {
        width: 100%;
    }
    .imgs-left img {
        width: 100%;
    }
    .button-wrapper {
        text-align: center;
    }
    .case-button {
        margin-top: 16px;
    }
    .Simon_Kamali {
        font-size: 16px;
    }
    .header-rideshare {
        padding: 16px;
    }
    .container-rideshare {
        flex-direction: column;
        padding: 16px;
        gap: 16px;
    }
    .rideshare-textbox {
        padding: 16px;
    }
    .contactMe {
        font-size: 36px;
    }
    .contactPlusLink {
        gap: 4px;
    }
    .footer {
        padding-left: 0px;
        padding-right: 0px;
    }
    .name {
        padding: 0px;
        /* text-align: center; */
    
    }
    .Simon_Kamali {
        font-size: 16px;
    }
   


}